html {
    background-color: #f5f5f5;
}

.grid-container {
    font-family: "Montserrat";
    display: grid;
    grid-template-areas: 
        'header header header'
        'banner banner banner'
        'main main main'
        'footer footer footer';
    grid-template-columns: 1fr 1fr 200px;
    grid-template-rows: auto auto 1fr auto;
    height: 100vh;
}
/*Verde do logo: #2fac75 */
/*Primaria: #19513D */
/*Secundaria: #5A1935*/

.header {
    grid-area: header;
}

.banner {
    grid-area: banner;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin: 0;
    box-shadow: 2px 2px 8px #2fac75;
}

.menu ul {
    display: flex;
    align-items: center;
    gap: 15;
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 10px;
    color: #313B43;
}

.link-holder {
    position: relative;
    color: #313B43;
    padding-bottom: 4px;
}

.link-holder::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    color: #313B43;
    width: 100%;
    height: 2px;
    background-color: #2fac75;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.35s ease-out;
}

.link-holder:hover::after {
    transform: scaleX(1);
}

.banner {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../resources/images/banner-01.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 20 0;
    color: #19513D;
    position: relative;
}

.banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 10, 0, 0.623);
    z-index: 1;
}

.main-banner {
    position: relative;
    z-index: 2;
}

.banner h1{
    color: #9ed6c3;
    font-size: 3rem;
    margin-bottom: 10px;
    font-weight: 700px;
    text-shadow: 3px 3px 5px #5A1935/*, -2px -2px 5px #5A1935, 2px -2px 5px #5A1935, -2px 2px 5px #5A1935*/;
}

.banner p{
    color: #c6ffec;
    font-size: 1.3rem;
}

.outter-course-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 120px;
}

.outter-course-description h1 {
    position: relative;
}

.outter-course-description h1::after {
    content: "";
    position: absolute;
    display: flex;
    bottom: -15%;
    left: 50%;
    width: 70%;
    height: 2px;
    background-color: #000;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
}

.outter-course-description p {
    text-align: justify;
    font-size: 1.3em;
    line-height: 1.6;
    color: #5f5f5f;
}

.description-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.description-area img {
    width: 375px;
    height: auto;
    border: 0px;
    border-radius: 15px;
    padding: 4px;
    box-shadow: 4px 4px 10px #5f5f5f;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 40px 120px;
}

.contacts-title {
    position: relative;
}

.contacts-title::after {
    content: "";
    position: absolute;
    display: flex;
    bottom: 20%;
    left: 50%;
    width: 70%;
    height: 2px;
    background-color: #000;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
}

.contacts-area {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 10%;
    padding: 15px;
    background-color: #f0f0f0;
    border: 1px solid #cacaca;
    border-radius: 8px;
}

form {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contacts-list {
    width: 40%;
}

.contacts-list ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: justify;
    gap: 3em;
    padding: 0px;
}

.contacts-list ul li{
    font-size: 20px;
    color: #535353;
    font-weight: bold;
    width: 100%;
    padding: 7.5px;
}

.contacts-list ul li:hover{
    font-size: 20px;
    color: #2fac75;
    background-color: #d8d8d8;
    border-radius: 8px;
}

.form-item {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    font-weight: bold;
    font-size: 1.3em;
    color: #3e3e3e;
}

input, select, textarea {
    padding: 10px;
    margin-top: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

input:focus, textarea:focus {
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #333232;
    outline: none;
}

form button {
    width: 100%;
    height: 35px;
    background-color: #2fac75;
    border: 1px solid white;
    border-radius: 8px;;
    color: white;
    font-weight: bold;
}

.schedule {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.schedule-title h1 {
    position: relative;
}

.schedule-area {
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 10%;
    width: 100%;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 15px 20px;
    border: 1px solid #ccc;
}

th {
    background-color: #2fac75;
}

tbody tr:nth-child(even) {
    background-color: #e0fff2;
}

.schedule-title h1::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width:50%;
    height: 2px;
    background-color: #000;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
}