.grid-container {
    display: grid;
    grid-template-areas: 
        'header header header'
        'main main aside'
        'footer footer footer';
    grid-template-columns: 1fr 1fr 200px;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: red;
}

.main {
    grid-area: main;
    background-color: blue;
}

.aside {
    grid-area: aside;
    background-color: yellow;
}

.footer {
    grid-area: footer;
    background-color: green;
}