.card {
    width: 15em;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #e6e6e6;
    border: 1px solid #cacaca;
    border-radius: 12px;
}

.projects-area {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    gap: 10%;
    padding: 15px;
    background-color: #f0f0f0;
    border: 1px solid #cacaca;
    border-radius: 8px;
}

.project-title {
    display: flex;
    text-align: left;
    font-size: 1.2em;
    line-height: 1;
    color: #565656;
}

.project-description {
    text-align: justify;
    font-size: 1em;
    line-height: 1.6;
    color: #5f5f5f;
}

.project-imgages-area {
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    height: 25rem;
    width: 60rem;
    position: relative;
    overflow: hidden;
}

.project-image{
    width: 30rem;
    height: 20rem;
}

.image-slider {
    width: fit-content;
    height: 70%;
    display: flex;
    gap: 1rem;
    animation: loop 25s linear infinite;
}

@keyframes loop {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

