* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #242625;
}

body {
  font-family: sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #edf9f1;
}

/*Temp*/
p, ul {
  padding: 10px;
}

nav ul {
  padding: 20px;
  display: flex;  
  list-style: none;
  gap: 20px;
}

.list-items a {
  background-color: #d2f2dc;
  color: #047729;
  text-decoration: none;
  padding: 15px 25px;
  /*border-bottom: 4px solid #313b44;*/
  box-shadow: 3px 3px 3px #313b44;
  border-radius: 10px;
}

.list-items a:hover {
  color: #d2f2dc;
  background-color: #047729;
  box-shadow: 0px 0px 0px #fff;
}

.main-container{
  font-size: 16px;
  padding: 20px;
  margin: 40px 20px;
  /*background-image: url("../resources/images/new-images/icon1.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: 50% 50%;*/
}

.block {
  /* display: inline; */
  /* display: block; */
  display: inline-block;
}

.banner {
  /*margin-left: 40px;
  margin-right: 40px;*/
  margin-bottom: 20px;
  padding: 35px;
  width: 100%;
  /*border: 8px solid red;*/
  background-image: url("../resources/images/new-images/img2.jpg");
  /*background-image: linear-gradient(180deg, rgb(0,249,255) 39%, rgb(51 56 57/100%) 96%);*/
  background-clip: border-box;
  border-radius: 39px 20px;
}

.banner h1, h3 {
  color: #2aba78;
}

p {
  color: #444444;
  font-size: 1.3em;
  font-family: "Roboto", Arial, sans-serif;
  /*font-stretch: ultra-condensed;*/
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  text-decoration: none;
  text-align: justify;
  line-height: 1.5;
  letter-spacing: 0;
  word-spacing: 2px;
  text-indent: 30px;
}

section > h1 {
  margin: 20px 0;
  padding: 12px 40px;
  color: #313B44;
  font-size: 4.3em;
  text-align: center;
  text-shadow: 4px 1px #2aba78;
}
