* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #242625;
}

body {
  font-family: sans-serif;
}

nav {
  background-color: #edf9f1;
}

/*Temp*/
p, ul {
  padding: 10px;
}

ul {
  padding: 20px;
  display: flex;  
  list-style: none;
}

nav ul li {
  padding: 10px;
  margin: 4px;
}

.main-container{
  font-size: 16px;
  padding: 20px;
  margin: 20px 0px;
}

.block {
  /* display: inline; */
  /* display: block; */
  display: inline-block;
}

.banner {
  /*padding-top: 15px;
  padding-bottom: 40px;
  padding-right: 10px;
  padding-left: 5px;*/
  padding: 40px 20px 10px;
  width: 100%;
  height: 200px;
  background-color: lightgrey;
}

