* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #242625;
}

body {
  font-family: sans-serif;
}

nav {
  background-color: #edf9f1;
}

/*Temp*/
p, ul {
  padding: 10px;
}

ul {
  padding: 20px;
  display: flex;  
  list-style: none;
}

.list-items li {
  margin: 4px;
}

.list-items a {
  background-color: #d2f2dc;
  color: #047729;
  text-decoration: none;
  padding: 15px 25px;
  border-bottom: 4px solid #313b44;
  border-radius: 10px;
}

.list-items a:hover {
  color: #d2f2dc;
  background-color: #047729;
}

.main-container{
  font-size: 16px;
  padding: 20px;
  margin: 20px 0px;
}

.block {
  /* display: inline; */
  /* display: block; */
  display: inline-block;
}

.banner {
  /*margin-left: 40px;
  margin-right: 40px;*/
  padding: 35px;
  width: 100%;
  background-color: #313b44;
  border-radius: 15px;
}

.banner h1, h3 {
  color: #2aba78;
}
